$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$porpora: #75151e !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$theme-colors:(
  "AQI_Good": $green,
  "AQI_Moderate": $yellow,
  "AQI_Unhealthy_Sensitive": $orange,
  "AQI_Unhealthy": $red,
  "AQI_Very_Unhealthy": $purple,
  "AQI_Hazardous": $porpora
);


@import "../../node_modules/bootstrap/scss/bootstrap";